
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required="required" maxlength="20" pattern="[A-Za-zА-Яа-яІі]+"/>
        <button type="submit">Submit</button>
        
    </form>
    @ViewBag.Name
</div>
